{% load static %}
<style>


 

  .grid {
    display: grid;
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 60em;
    padding: 0;
    margin-bottom: 40px;

    @media (min-width: 42em) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card {
    background-color: #fff;
    border-radius: 0.5em;
    position: relative;

    &:hover {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }
  }

  .radio {
    font-size: inherit;
    margin: 0;
    position: absolute;
    right: calc(1em + 2px);
    top: calc(1em + 2px);
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .radio {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: #fff;
      border: 2px solid #e2ebf6;
      border-radius: 50%;
      cursor: pointer;
      height: 1.5em;
      outline: none;
      transition: background 0.2s ease-out, border-color 0.2s ease-out;
      width: 1.5em;

      &::after {
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
        content: "";
        display: block;
        height: 0.75rem;
        left: 25%;
        position: absolute;
        top: 50%;
        transform: rotate(45deg) translate(-50%, -50%);
        width: 0.375rem;
      }

      &:checked {
        background: #558309;
        border-color: #558309;
      }
    }

    .card:hover .radio {
      border-color: #c4d1e1;

      &:checked {
        border-color: #558309;
      }
    }
  }

  .plan-details {
    border: 2px solid #e2ebf6;
    border-radius: 0.5em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1em;
    transition: border-color 0.2s ease-out;
  }

  .card:hover .plan-details {
    border-color: #c4d1e1;
  }

  .radio:checked ~ .plan-details {
    border-color: #558309;
  }

  .radio:focus ~ .plan-details {
    box-shadow: 0 0 0 2px #c4d1e1;
  }

  .radio:disabled ~ .plan-details {
    color: #c4d1e1;
    cursor: default;
  }

  .radio:disabled ~ .plan-details .plan-type {
    color: #c4d1e1;
  }

  .card:hover .radio:disabled ~ .plan-details {
    border-color: #e2ebf6;
    box-shadow: none;
  }

  .card:hover .radio:disabled {
    border-color: #e2ebf6;
  }

  .plan-type {
    color: #558309;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1em;
  }

  .plan-cost {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.5rem 0;
  }

  .slash {
    font-weight: normal;
  }

  .plan-cycle {
    font-size: 2rem;
    font-variant: none;
    border-bottom: none;
    cursor: inherit;
    text-decoration: none;
  }

  .hidden-visually {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
<!-- Start Shop Area  -->
<div class="axil-single-product-area bg-color-white">
  <div
    class="single-product-thumb axil-section-gap pb--20 pb_sm--0 bg-vista-white"
  >
    <div class="container">
      <div class="row row--25">
        <div class="col-lg-6 mb--40">
          <div class="h-100">
            <div class="position-sticky sticky-top">
              <div class="row row--10">
                <div class="col-12 mb--20">
                  <div
                    class="single-product-thumbnail axil-product thumbnail-grid"
                  >
                    <div class="thumbnail">
                      <img
                        class="img-fluid"
                        src="{{ object.image.url }}"
                        alt="Product Images"
                      />
                    </div>
                  </div>
                </div>
                <!-- End .col -->
                {% for pic in object.picture.all %}
                <div class="col-6 mb--20">
                  <div
                    class="single-product-thumbnail axil-product thumbnail-grid"
                  >
                    <div class="thumbnail">
                      <img
                        class="img-fluid"
                        src="{{pic.file.url}}"
                        alt="Product Images"
                      />
                    </div>
                  </div>
                </div>
                {% endfor %}
                <!-- End .col -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb--40">
          <div class="h-100">
            <div class="position-sticky sticky-top">
              <div class="single-product-content">
                <div class="inner">
                  <h2 class="product-title">{{object.name}}</h2>
                  <span class="price-amount">₦{{object.price}}</span>

                  <ul class="product-meta">
                    {% if object.stock == 0 %}
                    <li><i class="fal fa-check"></i>Out of stock</li>
                    {% else %}
                    <li><i class="fal fa-check"></i>In stock</li>
                    {% endif %} {% comment %}
                    <li><i class="fal fa-check"></i>Free delivery available</li>
                    {% endcomment %}
                  </ul>
                  <p class="description">{{object.description}}</p>
        

                  
                  <form id="cardForm" method="POST" action="{{ object.get_first_add_to_cart_url }}">
                  <div class="grid">
                    {% for variant in object.Variant_product.all %}
                    <label class="card">
                      <input {% if variant.stock < 1 %}disabled{% endif %}  name="plan" class="radio" type="radio" value="{{variant.id}}">
                      <span class="hidden-visually">Stock {% if variant.stock < 1 %}<span style="color:red;">Out of Stock</span>{% endif %} </span>
                      <span class="plan-details" aria-hidden="true">
                        <span class="plan-type">  {% if variant.stock < 1 %}<span style="color:red;">Out of Stock</span> {% else %}Stock{% endif %}</span>
                        <span class="plan-cost">{{variant.stock}}</span>
                        <span>{{variant.color}}</span>
                        <span>{{variant.size}}</span>
                        
                      </span>
                    </label>
                    {% empty %}
                    <div></div>
                    <div><p>No Variant available check back later</p></div>
                    
                    {% endfor %}


                   </div>
                   
                  </div>
                
                    <div class="">
                  
            
                       
                    </div>
                      <!-- Start Product Action  -->
                      <ul class="product-action d-flex-center mb--0">
                      
                        <li class="add-to-cart">
                          <button
                            type="submit"
                            href="{{ object.get_add_to_cart_url }}"
                            class="axil-btn btn-bg-primary"
                          >
                            Add to Cart 
                          </button>
                        </li>
                    
                      </ul>
                </form>

                <script>
                  document.getElementById("cardForm").addEventListener("submit", function(event) {
                    var selectedOption = document.querySelector('input[name="plan"]:checked');
                    if (!selectedOption) {
                      event.preventDefault();
                      alert("Please select an option before submitting.");
                    }
                  });
                </script>
                  

                  {% comment %} <div class="product-variations-wrapper">
                    <!-- Start Product Variation  -->
                    <div class="product-variation">
                      <h6 class="title">Colors:</h6>
                      <div class="color-variant-wrapper">
                        <ul class="color-variant">
                          {% for color in object.colors.all %}
                          <li class="color-extra-01 active">
                            <span
                              style="background: {{color.color}} !important; border-color: {{color.color}} !important;"
                              ><span
                                style="background: {{color.color}} !important; border-color: {{color.color}} !important; border-color: {{color.color}} !important;"
                                class="color"
                              ></span
                            ></span>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    <!-- End Product Variation  -->
                   
                    <!-- Start Product Variation  -->
                    <form method="POST" action="{{ object.get_first_add_to_cart_url }}">
                    {% if object.size.all|length %}
                    <div class="product-variation product-size-variation">
                      <h6 class="title">Size:</h6>
                      <select required name="size" class="range-variant" id="range-variant1">
                        <option value="" selected disabled hidden>
                          Select sizes
                        </option>
                        {% for size in object.size.all %}
                        <option name="sizess" value="{{size.name}}">{{size.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    {% else %}
                    <select hidden required name="size" class="range-variant " id="range-variant1">
                        <option value="null" selected>
                          Select sizes
                        </option>
                        
                      </select>
                    {% endif %}

                    <!-- End Product Variation  -->
                  </div> {% endcomment %}

                  {% comment %} <!-- Start Product Action Wrapper  -->
                  <div class="product-action-wrapper d-flex-center">
              
                    <!-- Start Product Action  -->
                    <ul class="product-action d-flex-center mb--0">
                      {% if object.stock == 0 %}
                      <li class="add-to-cart">
                        <a disabled href="#" class="axil-btn btn-bg-secondary"
                          >Out of stock</a
                        >
                      </li>
                      {% else %}
                      <li class="add-to-cart">
                        <button
                          type="submit"
                          href="{{ object.get_add_to_cart_url }}"
                          class="axil-btn btn-bg-primary"
                        >
                          Add to Cart 
                        </button>
                      </li>
                      {% endif %}
                      <li class="wishlist">
                        <a
                          href="{{ object.get_remove_from_cart_url }}"
                          class="axil-btn wishlist-btn"
                        >
                          <i class="fas fa-trash float-right"></i
                        ></a>
                      </li>
                    </ul>
                    <!-- End Product Action  -->
                  </div> {% endcomment %}
                </form>
                  <!-- End Product Action Wrapper  -->

                  <div class="product-desc-wrapper pt--80 pt_sm--60">
                    <ul class="pro-des-features pro-desc-style-two">
                      <li class="single-features">
                        <div class="icon">
                          <img
                            src="{% static 'assets/images/product/product-thumb/icon-3.png' %}"
                            alt="icon"
                          />
                        </div>
                        Easy Returns
                      </li>
                      <li class="single-features">
                        <div class="icon">
                          <img
                            src="{% static 'assets/images/product/product-thumb/icon-2.png' %}"
                            alt="icon"
                          />
                        </div>
                        Quality Service
                      </li>
                      <li class="single-features">
                        <div class="icon">
                          <img
                            src="{% static 'assets/images/product/product-thumb/icon-1.png' %}"
                            alt="icon"
                          />
                        </div>
                        Original Product
                      </li>
                    </ul>
                    <!-- End .pro-des-features -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End .single-product-thumb -->
</div>
<!-- End Shop Area  -->
<script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
<script>
  $("#range-variant1").on("change", function () {
    console.log(this.value);
  });
</script>


<script>

  const form = document.querySelector(".form");
const dropdowns = document.querySelectorAll(".dropdown");

// Check if Dropdowns are Exist
// Loop Dropdowns and Create Custom Dropdown for each Select Element
if (dropdowns.length > 0) {
   dropdowns.forEach((dropdown) => {
      createCustomDropdown(dropdown);
   });
}

// Check if Form Element Exist on Page
if (form !== null) {
   form.addEventListener("submit", (e) => {
      e.preventDefault();
   });
}

// Create Custom Dropdown
function createCustomDropdown(dropdown) {
   // Get All Select Options
   // And Convert them from NodeList to Array
   const options = dropdown.querySelectorAll("option");
   const optionsArr = Array.prototype.slice.call(options);

   // Create Custom Dropdown Element and Add Class Dropdown
   const customDropdown = document.createElement("div");
   customDropdown.classList.add("dropdown");
   dropdown.insertAdjacentElement("afterend", customDropdown);

   // Create Element for Selected Option
   const selected = document.createElement("div");
   selected.classList.add("dropdown-select");
   selected.textContent = optionsArr[0].textContent;
   customDropdown.appendChild(selected);

   // Create Element for Dropdown Menu
   // Add Class and Append it to Custom Dropdown
   const menu = document.createElement("div");
   menu.classList.add("dropdown-menu");
   customDropdown.appendChild(menu);
   selected.addEventListener("click", toggleDropdown.bind(menu));

   // Create Search Input Element
   const search = document.createElement("input");
   search.placeholder = "Search...";
   search.type = "text";
   search.classList.add("dropdown-menu-search");
   menu.appendChild(search);

   // Create Wrapper Element for Menu Items
   // Add Class and Append to Menu Element
   const menuInnerWrapper = document.createElement("div");
   menuInnerWrapper.classList.add("dropdown-menu-inner");
   menu.appendChild(menuInnerWrapper);

   // Loop All Options and Create Custom Option for Each Option
   // And Append it to Inner Wrapper Element
   optionsArr.forEach((option) => {
      const item = document.createElement("div");
      item.classList.add("dropdown-menu-item");
      item.dataset.value = option.value;
      item.textContent = option.textContent;
      menuInnerWrapper.appendChild(item);

      item.addEventListener(
         "click",
         setSelected.bind(item, selected, dropdown, menu)
      );
   });

   // Add Selected Class to First Custom Select Option
   menuInnerWrapper.querySelector("div").classList.add("selected");

   // Add Input Event to Search Input Element to Filter Items
   // Add Click Event to Element to Close Custom Dropdown if Clicked Outside
   // Hide the Original Dropdown(Select)
   search.addEventListener("input", filterItems.bind(search, optionsArr, menu));
   document.addEventListener(
      "click",
      closeIfClickedOutside.bind(customDropdown, menu)
   );
   dropdown.style.display = "none";
}

// Toggle for Display and Hide Dropdown
function toggleDropdown() {
   if (this.offsetParent !== null) {
      this.style.display = "none";
   } else {
      this.style.display = "block";
      this.querySelector("input").focus();
   }
}

// Set Selected Option
function setSelected(selected, dropdown, menu) {
   // Get Value and Label from Clicked Custom Option
   const value = this.dataset.value;
   const label = this.textContent;

   // Change the Text on Selected Element
   // Change the Value on Select Field
   selected.textContent = label;
   dropdown.value = value;

   // Close the Menu
   // Reset Search Input Value
   // Remove Selected Class from Previously Selected Option
   // And Show All Div if they Were Filtered
   // Add Selected Class to Clicked Option
   menu.style.display = "none";
   menu.querySelector("input").value = "";
   menu.querySelectorAll("div").forEach((div) => {
      if (div.classList.contains("is-select")) {
         div.classList.remove("is-select");
      }
      if (div.offsetParent === null) {
         div.style.display = "block";
      }
   });
   this.classList.add("is-select");
}

// Filter the Items
function filterItems(itemsArr, menu) {
   // Get All Custom Select Options
   // Get Value of Search Input
   // Get Filtered Items
   // Get the Indexes of Filtered Items
   const customOptions = menu.querySelectorAll(".dropdown-menu-inner div");
   const value = this.value.toLowerCase();
   const filteredItems = itemsArr.filter((item) =>
      item.value.toLowerCase().includes(value)
   );
   const indexesArr = filteredItems.map((item) => itemsArr.indexOf(item));

   // Check if Option is not Inside Indexes Array
   // And Hide it and if it is Inside Indexes Array and it is Hidden Show it
   itemsArr.forEach((option) => {
      if (!indexesArr.includes(itemsArr.indexOf(option))) {
         customOptions[itemsArr.indexOf(option)].style.display = "none";
      } else {
         if (customOptions[itemsArr.indexOf(option)].offsetParent === null) {
            customOptions[itemsArr.indexOf(option)].style.display = "block";
         }
      }
   });
}

// Close Dropdown if Clicked Outside Dropdown Element
function closeIfClickedOutside(menu, e) {
   if (
      e.target.closest(".dropdown") === null &&
      e.target !== this &&
      menu.offsetParent !== null
   ) {
      menu.style.display = "none";
   }
}

</script>