{% extends "dashboard/base/base.html" %}
{% load static %}
{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Dashboard
          </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-product-hunt"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">products</span>
              <span class="info-box-number">
                {{all_products| length}}
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-4">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Sales</span>
              <span class="info-box-number">
                {{sales}}
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Customers</span>
              <span class="info-box-number">
                {{all_users| length}}
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
          <!-- MAP & BOX PANE -->
          <!-- TABLE: LATEST ORDERS -->
          <div class="card">
            <div class="card-header border-transparent">
              <h3 class="card-title">Latest Orders</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Status</th>
                      <th>Location</th>
                      <th>Trx Id</th>
                      <th>Item</th>
                      <th>price</th>
                      <th>quantity</th>
                      <th>Verify</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for order in all_order %}
                    
                    <tr style="">
                      <td>{{order.id}}</td>
                      <td><span style="background: {% if order.status == 'PR' %} #FFC107 {% elif order.status == 'IT' %}#2196F3 {% elif order.status == 'DL' %} {% else %} #4CAF50 {% endif %}" class="badge badge-warning">{% if order.status == 'PR' %} Processing {% elif order.status == 'IT' %}In transit {% elif order.status == 'DL' %}Delivered {% else %} {% endif %}"</span></td>
                      <td>{{order.location }}</td>
                      <td>{{order.payment.trx_ref }}</td>
                      <td>{{order.items.all|length}}</td>
                      <td>{{order.payment.amount}}</td>
                      <td>
                        {{order.get_qty}}
                      </td>
                      

                      <td>
                        <button type="button" class="btn btn-primary paymentButton" data-id="{{order.payment.trx_ref }}"  >
                          Verify Payment
                        </button>
                      </td>
                      <td>
                        <a href="{% url 'dashboard:ord_details' order.id %}" type="button" class="btn btn-secondary"   >
                          View
                        </a>
                      </td>
                    </tr>

                  
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <a href="{% url 'dashboard:order_list' %}" class="btn btn-sm btn-secondary float-right">View All Orders</a>
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
          <div class="row">
            <div class="col-md-6">

            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-6">


            <!-- /.col -->
          </div>
          <!-- /.row -->


        </div>
        <!-- /.col -->

        <div class="col-md-4">
          <!-- PRODUCT LIST -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Recently Added Products</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <ul class="products-list product-list-in-card pl-2 pr-2">

                {% for prod in all_products %}
                <!-- /.item -->
                <li class="item">
                  <div class="product-img">
                    <img src="{{prod.image.url}}" alt="Product Image" class="img-size-50">
                  </div>
                  <div class="product-info">
                    {{prod.name}}
                    <span class="badge badge-info float-right">₦
                      {{prod.price}}
                    </span>
                    <span class="product-description">

                    </span>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <!-- /.card-body -->
            <div class="card-footer text-center">
              <a href="{% url 'dashboard:products' %}" class="uppercase">View All Products</a>
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>


    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
</div><!--/. container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>

<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Payment Result</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="paymentResult"></div>
      </div>
    </div>
  </div>
</div>
<!-- /.control-sidebar -->

<!-- Main Footer -->
</div>
<!-- ./wrapper -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    // Handle button click event
    $('.paymentButton').click(function() {
      var $button = $(this);
      $button.prop('disabled', true).text('Please Wait...');
      // Get the value for tx_ref
      var txRef = $button.data('id'); // Replace with the desired value and ensure it's properly formatted

      console.log(txRef)

      // Make AJAX request to the Django view
      $.ajax({
        type: 'POST',
        url: '{% url "core:confirm" %}?tx_ref=' + txRef,  // Replace with the correct URL for your 
        data: { tx_ref: txRef }, // Pass txRef as data instead of a query parameter
        success: function(response) {
          $button.prop('disabled', false).text('Verify Payment');
          // Update modal content with the payment result
          var val = response.val;

          console.log(val, "kay")

          if (val.status === 'success') {
            resultHtml = '<p>Transaction Successful</p>';
            resultHtml += '<p>Transaction Reference: ' + val.data.flw_ref + '</p>';
            resultHtml += '<p><b>Amount Paid: ' + val.data.currency + ' '+ val.data.amount + '</b></p>';
            resultHtml += '<p>Customers Name: ' + val.data.customer.name + '</p>';
            resultHtml += '<p>Customers Name: ' + val.data.customer.email + '</p>';
            resultHtml += '<p>Check here: <a target=”_blank” href="https://app.flutterwave.com/dashboard/transactions/list/' + val.data.id + '">' + 'Check here</a></p>';
            // Add other fields as desired
  
            $('#paymentResult').html(resultHtml);
  
            // Show the modal
            $('#paymentModal').modal('show');
          } else {
            resultHtml = '<p>Transaction Failed</p>';
            $('#paymentResult').html(resultHtml);
  
            // Show the modal
            $('#paymentModal').modal('show');
          }
         
        },
        error: function(xhr, status, error) {
          // Handle error if necessary
          $button.prop('disabled', false).text('Verify Payment');
          resultHtml = '<p>Transaction Failed</p>';
          $('#paymentResult').html(resultHtml);

          // Show the modal
          $('#paymentModal').modal('show');
          console.log(error);
        }
      });
    });
  });
</script>


{% endblock content %}