{% extends "dashboard/base/base.html" %}
{% load static %}
{% block content %}
{% load mathfilters %}
{% load crispy_forms_tags %}  
<!-- Content Wrapper. Contains page content -->
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .h2 {
        margin-bottom: 10px;
    }
    .ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .li {
        margin-bottom: 5px;
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 5px;
        position: relative;
    }
    .no-data {
        color: #666;
        font-style: italic;
    }
    .delete-button {
        display: inline-block;
        padding: 5px 10px;
        background-color: #f44336;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
    .delete-button:hover {
        background-color: #c62828;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
   
    {% comment %} <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dashboard:products' %}">Products</a></li>
    <li class="breadcrumb-item active">Update Products</li>
    </ol>
    </div> {% endcomment %}
    </div>
    </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <section class="content">
    <div class="container-fluid">
    <div class="row">
    <!-- left column -->
    <div class="col-md-12 " >
    <!-- general form elements -->
    <div class="card card-default">
    <div class="card-header">
    <h3 class="card-title">View utils</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->

<!-- list_models.html -->
<div class="container mt-4">
    <h1 class="text-center mb-4">Order Details</h1>
    <div class="card mb-4">
      <div class="card-header bg-secondary text-white">
        <h5 class="mb-0">Order Summary</h5>
      </div>
      <div class="card-body">
        <p><strong>Order Number:</strong> {{ order.id }}</p>
        <p><strong>Order Date:</strong> {{ order.ordered_date }}</p>
        <p><strong>Location:</strong> {{ order.location.state }} --- ₦{{order.location.price}}</p>
        <p><strong>Payment Status:</strong> {{ order.payment.status }}</p>
        <p><strong>Amount Paid:</strong> {{ order.payment.amount }}</p>
        <p><strong>Trx Id:</strong> {{ order.payment.trx_ref }}</p>
        <p><strong>Flutterwave:</strong> {{ order.payment.trx_ref }}  <button type="button" class="btn btn-primary"  id="paymentButton">
          Verify Payment
        </button></p>
        <p><strong>Status:</strong>  {{order.statu}}   {% if order.status == 'PR' %}
            <span class="badge badge-warning">Dispatching soon</span>
            {% endif %}
            {% if order.status == 'DL' %}
            <span class="badge badge-success">Delivered</span>
            {% endif %}
            {% if order.status == 'IT' %}
            <span class="badge badge-success">In transit</span>
            {% endif %}
            {% if order.status == 'DS' %}
            <span class="badge badge-success">Delivered</span>
            {% endif %}
            {% if order.status == 'CL' %}
            <span class="badge badge-error">Cancelled</span>
            {% endif %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Manage Shipping Status
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  
                  <a href="/dashboard/update-status-in/PR/{{order.id}}" class="dropdown-item" class="badge badge-warning">Processing</a>
                 
                  
                  <a href="/dashboard/update-status-in/DL/{{order.id}}" class="dropdown-item" class="badge badge-success">Delivered</a>
         
                
                  <a href="/dashboard/update-status-in/IT/{{order.id}}" class="dropdown-item" class="badge badge-success">In transit</a>
          
                  <a href="/dashboard/update-status-in/DS/{{order.id}}" class="dropdown-item" class="badge badge-success">Dispatched</a>
                    <a href="/dashboard/update-status/CL/{{order.id}}" class="dropdown-item" class="badge badge-success">Cancelled<a/>
             
                </div>
              </div>
        </p>
        <p><strong>Total Items:</strong> {{ order.get_qty }}</p>
        <p><strong>Total Price:</strong> ₦{{ order.get_total }}</p>
        {% if order.coupon %}
          <p><strong>Coupon:</strong> {{ order.coupon.code }} - ₦{{ order.coupon.amount }}</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header bg-secondary text-white">
            <h5 class="mb-0">Billing Address</h5>
          </div>
          <div class="card-body">
            <p><strong>Name:</strong> {{ order.billing_address.user.name }}</p>
            <p><strong>Address:</strong> {{ order.billing_address.street_address }}</p>
            <p><strong>City:</strong> {{ order.billing_address.country }}</p>
            {% comment %} <p><strong>State:</strong> {{ order.billing_address.state }}</p> {% endcomment %}
            <p><strong>Zip code:</strong> {{ order.billing_address.zip }}</p>
            <p><strong>Phone:</strong> {{ order.phone_number }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header bg-secondary text-white">
            <h5 class="mb-0">Shipping Address</h5>
          </div>
          <div class="card-body">
            <p><strong>Name:</strong> {{ order.shipping_address.name }}</p>
            <p><strong>Address:</strong> {{ order.shipping_address.street_address }}</p>
            <p><strong>City:</strong> {{ order.shipping_address.city }}</p>
            <p><strong>State:</strong> {{ order.shipping_address.state }}</p>
            <p><strong>Zip code:</strong> {{ order.shipping_address.zip_code }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-secondary text-white">
        <h5 class="mb-0">Order Items</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Size</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for item in order.items.all %}
                <tr>
                  <td>{{ item.item }}</td>
                  <td>{{ item.item.size.name }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>₦{{ item.item.product.price }}</td>
                  <td>₦{{ item.get_total_item_price2 }}</td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot class="bg-secondary">
              <tr>
                <td>Sub Total</td>
                <td>₦{{ order.get_total2 }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
        
    
    
   
    </div>
    <!-- /.card -->
    
    </div>
    <!--/.col (left) -->
    <!-- right column -->

    <!-- Bootstrap Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Payment Result</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="paymentResult"></div>
      </div>
    </div>
  </div>
</div>
    <div class="col-md-6">
    
    </div>
    <!--/.col (right) -->
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

<!-- Your template.html -->

<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    // Handle button click event
    $('#paymentButton').click(function() {
      $('#paymentButton').prop('disabled', true).text('Please Wait...');
      // Get the value for tx_ref
      var txRef = "{{ order.payment.trx_ref }}"; // Replace with the desired value and ensure it's properly formatted

      console.log(txRef)

      // Make AJAX request to the Django view
      $.ajax({
        type: 'POST',
        url: '{% url "core:confirm" %}?tx_ref=' + txRef,  // Replace with the correct URL for your 
        data: { tx_ref: txRef }, // Pass txRef as data instead of a query parameter
        success: function(response) {
          $('#paymentButton').prop('disabled', false).text('Verify Payment');
          // Update modal content with the payment result
          var val = response.val;

          console.log(val, "kay")

          if (val.transactionComplete) {
            resultHtml = '<p>Transaction Successful</p>';
            resultHtml += '<p>Transaction Reference: ' + val.txRef + '</p>';
          resultHtml += '<p><b>Amount Paid: ' + val.chargedamount + '</b></p>';
          resultHtml += '<p>Flutterwave Ref: ' + val.flwRef + '</p>';
          resultHtml += '<p>Check here: <a target=”_blank” href="https://app.flutterwave.com/dashboard/transactions/list/' + val.meta[0].getpaidTransactionId + '">' + 'Check here</a></p>';
          // Add other fields as desired

          $('#paymentResult').html(resultHtml);

          // Show the modal
          $('#paymentModal').modal('show');
          } else {
            resultHtml = '<p>Transaction Failed</p>';
            $('#paymentResult').html(resultHtml);

            // Show the modal
            $('#paymentModal').modal('show');
          }
          
        },
        error: function(xhr, status, error) {
          // Handle error if necessary

          $('#paymentButton').prop('disabled', false).text('Verify Payment');
          resultHtml = '<p>Transaction Failed</p>';
          $('#paymentResult').html(resultHtml);

          // Show the modal
          $('#paymentModal').modal('show');
          console.log(error);
        }
      });
    });
  });
</script>



{% endblock content %}