{% load static %}
<link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <!-- Start Checkout Area  -->
  <div class="axil-checkout-area axil-section-gap">
    <div class="container">
       
            <div class="row">
                <div class="col-lg-6">
                    <div class="axil-checkout-notice">
                       
                        {% if DISPLAY_COUPON_FORM %}
                        <div class="axil-toggle-box">
                            <div class="toggle-bar"><i class="fas fa-pencil"></i> Have a coupon? <a href="javascript:void(0)" class="toggle-btn">Click here to enter your code <i class="fas fa-angle-down"></i></a>
                            </div>

                            <div class="axil-checkout-coupon toggle-open">
                                <p>If you have a coupon code, please apply it below.</p>
                                <form class="card p-2" action="{% url 'core:add-coupon' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        {{ couponform.code }}
                                        <div class="apply-btn">
                                            <button type="submit" class="axil-btn btn-bg-primary">Apply</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="axil-checkout-billing">
                        <h4 class="title mb--40">Billing details</h4>
                        <form method="POST" class="card-body">
                            {% csrf_token %}
              
                            {% comment %} <h3>Shipping address</h3>
              
                            <div class='hideable_shipping_form'>
              
                              <div class="md-form mb-5">
                                <input type='text' placeholder='1234 Main St' id='shipping_address' name='shipping_address' class='form-control' />
                                <label for="shipping_address" class="">Address</label>
                              </div>
              
                              <div class="md-form mb-5">
                                <input type='text' placeholder='Apartment or suite' id='shipping_address2' name='shipping_address2' class='form-control' />
                                <label for="shipping_address2" class="">Address 2 (optional)</label>
                              </div>
              
                              <div class="row">
                                <div class="col-lg-4 col-md-12 mb-4">
                                  <label for="country">Country</label>
                                  {{ form.shipping_country }}
                                  <div class="invalid-feedback">
                                    Please select a valid country.
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4">
                                  <label for="shipping_zip">Zip</label>
                                  <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' class='form-control' />
                                  <div class="invalid-feedback">
                                    Zip code required.
                                  </div>
                                </div>
                              </div>
              
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="same_billing_address" id="same_billing_address">
                                <label class="custom-control-label" for="same_billing_address">Billing address is the same as my shipping address</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="set_default_shipping" id="set_default_shipping">
                                <label class="custom-control-label" for="set_default_shipping">Save as default shipping address</label>
                              </div>
              
                            </div>
              
                            {% if default_shipping_address %}
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping">
                              <label class="custom-control-label" for="use_default_shipping">Use default shipping address: {{ default_shipping_address.street_address|truncatechars:10 }}</label>
                            </div>
                            {% endif %} {% endcomment %}
              
                            <hr>
              
                            <h3>Billing address</h3>
              
                            <div class='hideable_billing_form'>
                              <div class="md-form mb-5">
                                <input type='text' placeholder='1234 Main St' id='billing_address' name='billing_address' class='form-control' />
                                <label for="billing_address" class="">Address</label>
                              </div>
              
                              <div class="md-form mb-5">
                                <input type='text' placeholder='Apartment or suite' id='billing_address2' name='billing_address2' class='form-control' />
                                <label for="billing_address2" class="">Address 2 (optional)</label>
                              </div>

                              <div class="md-form mb-5">
                                {{ form.phone_number }}
                                <label for="billing_address2" class="">Phone Number</label>
                              </div>
              
                              <div class="row">
                                <div class="col-lg-4 col-md-12 mb-4">
                                  <label for="country">Country</label>
                                  {{ form.billing_country }}
                                  <div class="invalid-feedback">
                                    Please select a valid country.
                                  </div>
                                </div>
              
                                <div class="col-lg-4 col-md-6 mb-4">
                                  <label for="billing_zip">Zip</label>
                                  <input type='text' placeholder='Zip code' id='billing_zip' name='billing_zip' class='form-control' />
                                  <div class="invalid-feedback">
                                    Zip code required.
                                  </div>
                                </div>
              
                              </div>
              
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="set_default_billing" id="set_default_billing">
                                <label class="custom-control-label" for="set_default_billing">Save as default billing address</label>
                              </div>
              
                            </div>
              
                            {% if default_billing_address %}
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" name="use_default_billing" id="use_default_billing">
                              <label class="custom-control-label" for="use_default_billing">Use default billing address: {{ default_billing_address.street_address|truncatechars:10 }}</label>
                            </div>
                            {% endif %}
                            <hr>
              
                            <h3>Payment option</h3>
              
                            <div class="d-block my-3">
                              {% for value, name in form.fields.payment_option.choices %}
                              <div class="custom-control custom-radio">
                                <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                              </div>
                              {% endfor %}
                            </div>
              
                            <hr class="mb-4">
                            {% if order.get_total %}
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                            {% else %}
                            <button disabled class="btn btn-primary btn-lg btn-block" type="button">Invalid Order Amount</button>
                            {% endif %}
              
                          </form>
                    
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="axil-order-summery order-checkout-summery">
                        <h5 class="title mb--20">Your Order</h5>
                        <div class="summery-table-wrap">
                            {% comment %} <table class="table summery-table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="order-product">
                                        <td>Commodo Blown Lamp <span class="quantity">x1</span></td>
                                        <td>$117.00</td>
                                    </tr>
                                    <tr class="order-product">
                                        <td>Commodo Blown Lamp <span class="quantity">x1</span></td>
                                        <td>$198.00</td>
                                    </tr>
                                    <tr class="order-subtotal">
                                        <td>Subtotal</td>
                                        <td>$117.00</td>
                                    </tr>
                                    <tr class="order-shipping">
                                        <td colspan="2">
                                            <div class="shipping-amount">
                                                <span class="title">Shipping Method</span>
                                                <span class="amount">$35.00</span>
                                            </div>
                                            <div class="input-group">
                                                <input type="radio" id="radio1" name="shipping" checked>
                                                <label for="radio1">Free Shippping</label>
                                            </div>
                                            <div class="input-group">
                                                <input type="radio" id="radio2" name="shipping">
                                                <label for="radio2">Local</label>
                                            </div>
                                            <div class="input-group">
                                                <input type="radio" id="radio3" name="shipping">
                                                <label for="radio3">Flat rate</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <td>Total</td>
                                        <td class="order-total-amount">$323.00</td>
                                    </tr>
                                </tbody>
                            </table> {% endcomment %}
                            {% include "order_snippet.html" %}
                        </div>
                       
                    </div>
                </div>
            </div>
        
    </div>
</div>
<!-- End Checkout Area  -->

{% block extra_scripts %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');
var hideable_billing_form = $('.hideable_billing_form');

var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var use_default_billing = document.querySelector("input[name=use_default_billing]");

use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})

use_default_billing.addEventListener('change', function() {
  if (this.checked) {
    hideable_billing_form.hide();
  } else {
    hideable_billing_form.show();
  }
})

</script>
{% endblock extra_scripts %}