{% load static %}

<footer class="axil-footer-area footer-style-2">
  <!-- Start Footer Top Area  -->
  <div class="footer-top separator-top">
    <div class="container">
      <div class="row">
        <!-- Start Single Widget  -->
        <div class="col-lg-4 col-sm-4 col-4">
          <div class="axil-footer-widget">
            <h5 class="widget-title">Support</h5>
            <!-- <div class="logo mb--30">
                        <a href="index.html">
                            <img class="light-logo" src="assets/images/logo/logo.png" alt="Logo Images">
                        </a>
                    </div> -->
            <div class="inner">
              <p>Lagos, Nigeria</p>
              <ul class="support-list-item">
                <li>
                  <a href="mailto:info@centiastore.com"
                    ><i class="fal fa-envelope-open"></i>
                    info@centiastore.com</a
                  >
                </li>
                {% comment %}
                <li>
                  <a href="tel:(+01)850-315-5862"
                    ><i class="fal fa-phone-alt"></i> (+01) 850-315-5862</a
                  >
                </li>
                {% endcomment %}
                <!-- <li><i class="fal fa-map-marker-alt"></i> 685 Market Street,  <br> Las Vegas, LA 95820, <br> United States.</li> -->
              </ul>
            </div>
          </div>
        </div>
        <!-- End Single Widget  -->
        <!-- Start Single Widget  -->
        <div class="col-lg-4 col-sm-6 col-4">
          <div class="axil-footer-widget">
            <h5 class="widget-title">Pages</h5>
            <div class="inner">
              <ul>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/order-summary/">Cart</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Single Widget  -->
        <!-- Start Single Widget  -->
        
        <div class="col-lg-4 col-sm-6 col-4">
          <div class="axil-footer-widget">
            <h5 class="widget-title">Contact</h5>
            <div class="inner">
              <ul>
                <li><a  target="_blank" href="https://wa.link/vgnee7"><i class="fab fa-whatsapp"></i> Whatsapp 1</a></li>
                <li><a  target="_blank" href="https://wa.link/w31xe5"><i class="fab fa-whatsapp"></i>Whatsapp 2</a></li>
              </ul>
            </div>
          </div>
        </div>
       
        <!-- End Single Widget  -->
        <!-- Start Single Widget  -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="axil-footer-widget">
            {% comment %}
            <h5 class="widget-title">Download App</h5>
            {% endcomment %}
            <div class="inner">
              {% comment %} <span>Save $3 With App & New User only</span> {%
              endcomment %}
              <div class="download-btn-group">
                <div class="qr-code">
                  <img
                    src="{% static 'assets/images/logo/cent.png' %}"
                    alt="Axilthemes"
                  />
                </div>
                {% comment %}
                <div class="app-link">
                  <a href="#">
                    <img
                      src="{% static 'assets/images/others/app-store.png' %}"
                      alt="App Store"
                    />
                  </a>
                  <a href="#">
                    <img
                      src="{% static 'assets/images/others/play-store.png' %}"
                      alt="Play Store"
                    />
                  </a>
                </div>
                {% endcomment %}
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Widget  -->
      </div>
    </div>
  </div>
  <!-- End Footer Top Area  -->
  <!-- Start Copyright Area  -->
  <div class="copyright-area copyright-default separator-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-4">
          <div class="social-share">
            {% comment %} <a  target="_blank" href="#"><i class="fab fa-facebook-f"></i></a> {% endcomment %}
            <a  target="_blank" href="https://wa.link/vgnee7"><i class="fab fa-whatsapp"></i></a>
            <a  target="_blank" href="https://wa.link/w31xe5"><i class="fab fa-whatsapp"></i></a>
            <a  target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a  target="_blank" href="https://t.me/+g3GeimojGUI1OTI0"><i class="fab fa-telegram"></i></a>
            {% comment %} <a  target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a> {% endcomment %}
            
          </div>
        </div>
        <div class="col-xl-4 col-lg-12">
          <div class="copyright-left d-flex flex-wrap justify-content-center">
            <ul class="quick-link">
              <li>
                © 2022. All rights reserved by
                <a
                  target="_blank"
                  href="http://www.Lewisaltheory.com"
                  >Lewisaltheory.com </a
                >.
              </li>
            </ul>
          </div>
        </div>
        {% comment %}
        <div class="col-xl-4 col-lg-12">
          <div
            class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center"
          >
            <span class="card-text">Accept For</span>
            <ul class="payment-icons-bottom quick-link">
              <li>
                <img
                  src="{% static 'assets/images/logo/flutterwave.png' %}"
                  alt="paypal cart"
                />
              </li>
            </ul>
          </div>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
  <!-- End Copyright Area  -->
</footer>
<!-- End Footer Area  -->
