{% load static %}
{% load cart_template_tags %}

<!-- Start Expolre Product Area  -->
<div class="axil-product-area bg-color-white axil-section-gap">
    <div class="container">
        <div class="section-title-wrapper">
            <span class="title-highlighter highlighter-primary"> <i class="far fa-shopping-basket"></i> Our Products</span>
            <h2 class="title">Explore our Products</h2>
        </div>
        <div class="explore-product-activation slick-layout-wrapper slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
            <div class="slick-single-layout">
                <div class="row row--15">
                    {% for item in explore %}
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                        <div class="axil-product product-style-one">
                            <div class="thumbnail">
                                <a href="{{ item.get_absolute_url }}">
                                    <img data-sal="fade" data-sal-delay="100" data-sal-duration="1500" src="{{item.image.url}}" alt="Product Images">
                                </a>
                                {% if item.discount_price %}
                                <div class="label-block label-right">
                                    <div class="product-badget">{{item|getDiscountPer}}% Off</div>
                                </div>
                                {% endif %}
                                <div class="product-hover-action">
                                    <ul class="cart-action">
                                        {% comment %} <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li> {% endcomment %}
                                        <li class="select-option"><a href="{{ item.get_add_to_cart_url }}">Add to Cart</a></li>
                                        <li class="wishlist"><a href="{{ item.get_absolute_url }}"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="inner">
                                    <h5 class="title"><a href="{{ item.get_absolute_url }}">{{item.name}}</a></h5>
                                    <div class="product-price-variant">
                                        <span class="price current-price">₦{{item.price}}</span>
                                        {% if item.discount_price %}
                                        <span class="price old-price">₦{{item|getDiscountPrice}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product  -->
                    {% endfor %}
   
                </div>
            </div>
            <!-- End .slick-single-layout -->
            <div class="slick-single-layout">
                <div class="row row--15">
                    {% for item in explore %}
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                        <div class="axil-product product-style-one">
                            <div class="thumbnail">
                                <a href="{{ item.get_absolute_url }}">
                                    <img data-sal="fade" data-sal-delay="100" data-sal-duration="1500" src="{{item.image.url}}" alt="Product Images">
                                </a>
                                {% if item.discount_price %}
                                <div class="label-block label-right">
                                    <div class="product-badget">{{item|getDiscountPer}}% Off</div>
                                </div>
                                {% endif %}
                                <div class="product-hover-action">
                                    <ul class="cart-action">
                                        {% comment %} <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li> {% endcomment %}
                                        <li class="select-option"><a href="{{ item.get_absolute_url }}">Add to Cart</a></li>
                                        <li class="wishlist"><a href="{{ item.get_absolute_url }}"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="inner">
                                    <h5 class="title"><a href="{{ item.get_absolute_url }}">{{item.name}}</a></h5>
                                    <div class="product-price-variant">
                                        <span class="price current-price">₦{{item.price}}</span>
                                        {% if item.discount_price %}
                                        <span class="price old-price">₦{{item|getDiscountPrice}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product  -->
                    {% endfor %}
   
                </div>
            </div>
            <!-- End .slick-single-layout -->
        </div>
        <div class="row">
            <div class="col-lg-12 text-center mt--20 mt_sm--0">
                <a href="shop.html" class="axil-btn btn-bg-lighter btn-load-more">View All Products</a>
            </div>
        </div>

    </div>
</div>
<!-- End Expolre Product Area  -->