{% load static %}

<!-- Header Search Modal End -->
<div class="header-search-modal" id="header-search-modal" >
    <button class="card-close sidebar-close"><i class="fas fa-times"></i></button>
    <div class="header-search-wrap" style="height: 177px !important;">
        <div class="card-header">
            <form action="{% url 'core:shop' %}">
                <div class="input-group">
                    {% csrf_token %}
                    <input type="search" class="form-control" name="prod-search" id="prod-search" placeholder="Write Something....">
                    <button type="submit" class="axil-btn btn-bg-primary"><i class="far fa-search"></i></button>
                </div>
            </form>
        </div>
     
    </div>
</div>
<!-- Header Search Modal End -->