{% load static %}

<div class="service-area">
    <div class="container">
        <div class="row ">
            <div class="col-sm-3 col-6">
                <div class="service-box">
                    <div class="icon">
                        <img src="{% static 'assets/images/icons/service1.png' %}" alt="Service">
                    </div>
                    <h6 class="title">Fast &amp; Secure Delivery</h6>
                </div>
            </div>
            <div class=" col-sm-3 col-6">
                <div class="service-box">
                    <div class="icon">
                        <img src="{% static 'assets/images/icons/service2.png' %}" alt="Service">
                    </div>
                    <h6 class="title">100% Guarantee On Product</h6>
                </div>
            </div>
            <div class=" col-sm-3 col-6">
                <div class="service-box">
                    <div class="icon">
                        <img src="{% static 'assets/images/icons/service3.png' %}" alt="Service">
                    </div>
                    <h6 class="title">24 Hour Return Policy</h6>
                </div>
            </div>
            <div class=" col-sm-3 col-6">
                <div class="service-box">
                    <div class="icon">
                        <img src="{% static 'assets/images/icons/service4.png' %}" alt="Service">
                    </div>
                    <h6 class="title">24 Hour Return Policy</h6>
                </div>
            </div>
            
        </div>
    </div>
</div>